<template>
  <div class="params">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>分类参数</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-alert title="注意，只允许为第三级分类设置参数" type="warning" closable="false" show-icon></el-alert>
    <el-form :inline="true" style="margin-top:20px;">
      <el-form-item label="请选择商品分类">
        <el-cascader
          v-model="goodCatId"
          :options="options"
          :props="{ expandTrigger: 'hover',value: 'cat_id', label: 'cat_name' }"
        ></el-cascader>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="动态参数" name="many">
        <el-button type="primary" size="mini">设置动态参数</el-button>
        <el-table :data="tableDatadong" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-tag
                  :key="tag"
                  v-for="tag in props.row.attr_vals.split(',')"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag)"
                >{{tag}}</el-tag>
                <el-input
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="inputValue"
                  ref="saveTagInput"
                  size="small"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm"
                ></el-input>
                <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column label="属性名称" prop="id"></el-table-column>
          <el-table-column label="操作" prop="name">
            <template>
              <el-button type="primary" size="mini" icon="el-icon-edit"></el-button>
              <el-button type="primary" size="mini" icon="el-icon-delete"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="only">
        <el-button type="primary" size="mini">设置静态参数</el-button>
        <!-- 表格 -->
        <el-table :data="tableDatajing" stripe height="400" style="width: 100%">
          <el-table-column type="index" :index="indexMethod" width="60"></el-table-column>
          <el-table-column property="date" label="属性名称" width="280"></el-table-column>
          <el-table-column property="name" label="属性值" width="180"></el-table-column>
          <el-table-column property="level" label="操作">
            <template>
              <el-button type="primary" size="mini" icon="el-icon-edit"></el-button>
              <el-button type="primary" size="mini" icon="el-icon-delete"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getCategoriesLists,getManyAttr,getOnlyAttr } from "@/http/api";
export default {
  data() {
    return {
      goodCatId: "",
      activeName: "many",
      options: [],
      tableDatadong: [],
      tableDatajing: [],
    };
  },
  methods: {
    indexMethod(index) {
      return index;
    },
    getCategoriesLists() {
      getCategoriesLists({
        type: 3
      }).then(res => {
        this.options = res.data;
      });
    },
    //动
    getManyAttr(){
      getManyAttr({
        id:this.val[2],
        sel:"many",
        attr_vals:","
      }).then(res => {
        this.tableDatadong = res.data.data;
      })
    },
    //静
    getOnlyAttr(){
      getOnlyAttr({
        id: this.val[2],
        sel: "only"
      }).then(res => {
        this.tableDatajing = res.data.data;
      })
    },
    handleClick(val) {
      console.log(val);
      if(this.val.length==3){
        this.tableDatadong();
        this.tableDatajing();
      }else{
        this.open4();
      }
    }
  },
  open4() {
      this.$message.error("请选择商品的三级分类");
    },
  created() {
    this.getCategoriesLists();
  }
};
</script>

<style>
.params {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
}
.breadcrumb-wrap {
  margin-bottom: 20px;
}
</style>